<ion-view view-title="登录"  hide-nav-bar="true" >

	<ion-content class="bg_login ">
		<div class="tirtles_center font_large textclolor_white margin_top_huge" >登录</div><!-- ng-click="closeLogin()" -->
		<div class="center_padding">
			<ul class="list_all margin_top_huge padding_all bg_show border_radius center_80 box_shaw">
				<li class="">
					<div class="list_left_smallpic  margin_left margin_top">
						<span class="ion-happy-outline  textcolor_b4b1b1 font_large line_height_30" ></span>
					</div>
					<div class="list_right"><input class="input_all inputs_text textclolor_black_low greyinput"  placeholder="输入手机号" ng-model="form.phone"type="tel" /></div>
				</li>
				<li class="border_top border_color_gray">
					<div class="list_left_smallpic  margin_left margin_top">
						<span class="ion-locked  textcolor_b4b1b1 font_large line_height_30"></span>
					</div>
					<div class="list_right"><input class="input_all inputs_text textclolor_black_low greyinput" placeholder="输入密码" ng-model="form.password" type="password"/></div>
				</li>
				
			</ul>
			<button class="button_all button_80  bg_f6d209 border_none border_radius margin_top_large textclolor_black_lows box_shaw" ng-click="doLogin()"  ng-disabled="!form.submits">{{form.subtext}}</button>
			<div class="tirtles center_80 margin_top">
				<div class="tirtles_right text_align_right"><a ng-href="#/app/register">注册</a></div>
			</div>
		</div>
		<div class="clear"></div>
	</ion-content>
</ion-view>
