<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="domenumove()">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <button menu-toggle="right" class="button button-icon icon ion-location"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="bg_menu_list">
      <div class="contents margin_top_large">
          <div class="contents menulist">
            <div class="tirtles_center" >
              <div class="person_pic overflow_hide"  ng-click="clicksever()">
            <img class="images_holl " ng-src="{{'woman'|img_url}}" ng-if="!form.personimg">
             <img class="images_holl"  ng-src="{{form.personimg.photoname|photo_url}}" ng-if="form.personimg"/>
            </div>
            </div>
            <div class="tirtles_center textclolor_white font_large margin_top">{{form.username}}</div>
          </div>
      </div>
      <div class="contents margin_top_large">
          <ul class="list_all menulist" ng-class="form.moveas">
            <li >
              <a href="#/app/tab" nav-clear menu-close class="tirtles padding_top_medil" >
                <div class="list_left_smallpic margin_left_huge"><span class="ion-briefcase textclolor_white font_huge tirtles_center"></span></div>
                <div class="list_left" ><span  class="tirtles_left textclolor_white line_height_30 margin_left_large">首页</span></div>
              </a>
            </li>

            <li >
              <a href="#/app/login" nav-clear menu-close class="tirtles padding_top_medil">
                <div class="list_left_smallpic margin_left_huge"><span class="ion-person-stalker textclolor_white font_huge tirtles_center"></span></div>
                <div class="list_left"><span  class="tirtles_left textclolor_white line_height_30 margin_left_large">我的账户</span></div>
              </a>
            </li>

             <li >
              <a href="#/app/setting" nav-clear menu-close class="tirtles padding_top_medil">
                <div class="list_left_smallpic margin_left_huge"><span class="ion-person-stalker textclolor_white font_huge tirtles_center"></span></div>
                <div class="list_left"><span  class="tirtles_left textclolor_white line_height_30 margin_left_large">setting</span></div>
              </a>
            </li>

          </ul>
      </div>
      <div class="clear"></div>
    </ion-content>
  </ion-side-menu>

 <!--  <ion-side-menu side="right" width="80">
  <ion-content class="bg_menu_list">
      <div class="contents margin_top_large">
          <ul class="list_all">
            <li >
               <a href="#/app/login" nav-clear menu-close class="tirtles padding_top_medil text_align_center textclolor_white">
                <span class="list_cell ion-paper-airplane line_height_18 font_huge_180"></span><span class="list_cell">登录</span>
              </a>
            </li>

            <li >
              <a href="#/app/account" nav-clear menu-close class="tirtles padding_top_medil text_align_center textclolor_white">
                <span class="list_cell ion-chatboxes line_height_18 font_huge_180"></span><span class="list_cell">购买</span>
              </a>
            </li>

          </ul>
      </div>
      <div class="clear"></div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus> -->
