<ion-view view-title="Home" class="products">
	<ion-tabs class="tabs-icon-top tabs-positive bar-footer  border_top border_color_grew nopadding bg_eee">

  <ion-tab title="饭友" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/app/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="选购" icon-on="ion-ios-stopwatch" icon-off="ion-ios-stopwatch-outline" href="#/app/tab/productlist" >
    <ion-nav-view name="productlist-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="闲谈" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" href="#/app/tab/articlelist">
    <ion-nav-view name="article-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/app/tab/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

</ion-view>
