/*toaster*/
:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave
{ 
    -webkit-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 0ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 